<div class="row">
  <aside class="col-lg-3">
    <ul>
      <li><a routerLink="/01_form">01_form</a></li>
      <li><a routerLink="/02_styles">styles</a></li>
      <li><a routerLink="/03_form_styles">03_form+input styles</a></li>
      <li><a routerLink="/04_form_error_msg">04_form error msg</a></li>
      <li><a routerLink="/05_form_few_errors">05_form few errors</a></li>
    </ul>

    <h4>Reactive Form</h4>
    <ul>
      <li><a routerLink="/01_form-control">01_form control</a></li>
      <li><a routerLink="/02_form-control-validation">02_form control validation</a></li>
      <li><a routerLink="/03_form-builder">03_form builder</a></li>
      <li><a routerLink="/04_form_error_msg">04_form error msg</a></li>
      <li><a routerLink="/05_form_few_errors">05_form few errors</a></li>
    </ul>
  </aside>
  <main class="col-lg-9 pt-2">
    <router-outlet></router-outlet>
  </main>
</div>




