<div class="container">
  <h3>Reactive Form Group</h3>
  <form
    novalidate
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm)"
    class="mt-2"
  >
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text"
             class="form-control mt-1"
             id="login"
             formControlName="login"
      >

      <div *ngIf="loginForm.get('login')?.hasError('required') &&
                  loginForm.get('login')?.touched
          "
           class="alert alert-danger mt-1"
      >Field is required</div>
    </div>
    <div class="form-group mt-2">
      <label for="password">Password</label>
      <input type="password"
             class="form-control mt-1"
             id="password"
             formControlName="password"
      >

      <div *ngIf="loginForm.get('password')?.hasError('minlength') &&
                  loginForm.get('password')?.touched
          "
           class="alert alert-danger mt-1"
      >Password length must be less 3 symbols</div>
    </div>

    <div formGroupName="address">
      <h4 class="mt-3">Address</h4>
      <div class="form-group mt-2">
        <label for="country">Country</label>

        <select name="country" id="country"
                class="form-control"
                formControlName="country"
                (change)="setCapital()"
        >
          <option value="de">Germany</option>
          <option value="ua">Ukraine</option>
          <option value="ch">Prague</option>
        </select>
      </div>

      <div class="form-group mt-2">
        <label for="capital">Capital</label>
        <input type="text"
               class="form-control mt-1"
               id="capital"
               formControlName="capital"
        >
      </div>

      <button (click)="setCapital()" type="button">Set capital</button>
    </div>



    <input
      type="submit"
      class="btn btn-primary mt-2"
      value="Login"
      [disabled]="loginForm.invalid"
    >
  </form>
</div>
